*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

.thehead-section{
    border: 2px solid green;
    height: 340vh;
    width: 72%;
    margin-left: 185px;
}

.side-navbar{
    border: 2px solid rgb(128, 109, 0);
    height: 150vh;
    width: 19%;
    margin-left: 184px;
    margin-top: -2050px;
}

.thepictures-part{
     border: 2px solid rgb(128, 0, 0);
     width: 50%;
     height: 65vh;
    margin-left: 460px;
    margin-top: -820px;
}

.fourpictures-part{
     border: 2px solid rgb(9, 0, 128);
     width: 50%;
     margin-left: 460px;
     height: 20vh;
     margin-top: 7px;
}

.thespace-part{
    border: 2px solid rgb(128, 0, 117);
     width: 50%;
     margin-left: 460px;
     height: 36vh;
     margin-top: 29px;
}

.amenities-part{
    border: 2px solid rgb(0, 128, 117);
     width: 50%;
     margin-left: 460px;
     height: 36vh;
     margin-top: 38px;
}
 
.extraInfo-part{
    border: 2px solid rgb(0, 128, 11);
     width: 50%;
     margin-left: 460px;
     height: 34vh;
     margin-top: 40px;
}

.rules-part{
     border: 2px solid rgb(128, 0, 117);
     width: 50%;
     margin-left: 460px;
     height: 34vh;
     margin-top: 40px;
}

.contact-part{
     border: 2px solid rgb(0, 41, 128);
     width: 50%;
     margin-left: 460px;
     height: 70vh;
     margin-top: 40px;
}

@media (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}

